footer {
  color: $white;

  a {
    color: inherit;

    @include media-breakpoint-down(sm) {
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: $accent;
    }
  }
}

.phone--disable {
  @include media-breakpoint-up(md) {
    cursor: default;
    pointer-events: none;
  }
}
