footer {
  color: $white;

  a {
    color: inherit;

    @include media-breakpoint-down(sm) {
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: $accent;
    }
  }
}
