.navbar {
  @include nav-shrink;

  @include media-breakpoint-up(md) {
    @include padding-x(2rem);
  }

  @include media-breakpoint-up(lg) {
    @include padding-x(5.5rem);
  }

  &__logo {
    max-width: 48px;
    @include nav-shrink;

    @include media-breakpoint-up(md) {
      max-width: 54px;
    }
  }

  &-scrolled {
    background-color: $primary;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    @include nav-shrink;

    .navbar__logo {
      max-width: 40px;
    }
  }

  &-toggler {
    width: 48px;
    height: 42px;
    border: 2px solid $accent;
  }

  .nav-item {
    @include media-breakpoint-up(md) {
      margin-left: 3rem;
    }
  }

  .nav-link {
    position: relative;
    display: inline-block;
    @include link-hover;
  }

  &-collapse {
    background-color: $secondary;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }

    @include media-breakpoint-up(md) {
      background-color: transparent;
      justify-content: flex-end;
    }
  }

  @include media-breakpoint-up(md) {
    .active > .nav-link:before {
      opacity: 1;
    }

    .nav-link {

      &:before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $accent;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        @include link-hover;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}
