/* Padding spacing */
@mixin padding-x($padding) {
  padding-right: $padding;
  padding-left: $padding;
}

@mixin padding-y($padding){
  padding-top: $padding;
  padding-bottom: $padding;
}


/* Margin spacing */
@mixin margin-x($margin) {
  margin-right: $margin;
  margin-left: $margin;
}

@mixin margin-y($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

/* Animations */
@mixin nav-shrink {
  transition: all .2s ease-out;
}

@mixin link-hover {
  transition: .3s linear;
}
