/* Colors */
$primary: #260801;
$secondary: #733C1D;
$tertiary: #D9C5C1;
$accent: #DD340E;
$white: #fff;
$black: #000;
$dark-overlay: rgba($black, .6);

/* Body */
$body-bg: $primary;

/* Navbar */
$navbar-dark-color: rgba($white, .6);
$navbar-dark-hover-color: rgba($white, .8);

/* Typography */
$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Lato', sans-serif;
