img {
  width: 100%;
}

p {
  color: $white;
  line-height: 2;
}

a {

  &[target='_blank']:after {
    font-family: 'FontAwesome';
    content: " \f08e";
    font-size: smaller;
  }

  &:hover {
    color: $tertiary;
  }
}

h3 {
  color: $white;
  margin-bottom: 1.5rem;
}
