img {
  width: 100%;
}

p {
  color: $white;
}

a {

  &[target='_blank']:after {
    font-family: 'FontAwesome';
    content: " \f08e";
    font-size: smaller;
  }

  &:hover {
    color: $tertiary;
  }
}
