.hero--bread {
  background-image: url('../img/bread-loaf-sm.jpg');
  background-position: center;

  @include media-breakpoint-up(md) {
    background-image: url('../img/bread-loaf.jpg');
  }

  .home-inner {
    padding-bottom: 0;
  }

  p {
    line-height: 2;

    @include media-breakpoint-up(lg) {
      @include padding-x(3.5rem);
    }
  }

  .phone {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}
