.hero--bread {
  background-image: url('../img/bread-loaf-sm.jpg');
  background-position: center;

  @include media-breakpoint-up(md) {
    background-image: url('../img/bread-loaf.jpg');
  }

  .home-inner {
    padding-bottom: 0;
  }

  p {
    line-height: 2;

    @include media-breakpoint-up(lg) {
      @include padding-x(3.5rem);
    }
  }

  .phone {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}

.bread-menu {
  .row {
    div {
      position: relative;

      p {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 0;
        @include padding-y(2rem);
        width: calc(100% - 30px);
        background-color: rgba($black, .5);
        text-align: center;

        @include media-breakpoint-up(xl) {
          opacity: 0;
          @include link-hover;

          &:hover {
            opacity: 1;
          }
        }

        span {
          width: 100%;
          font-family: 'Lato', sans-serif;
          margin-top: 3rem;
          color: $white;
          cursor: default;
        }
      }
    }
  }
}
