.hero--bread {
  background-image: url('../img/bread-loaf.jpg');
  background-position: center;

  .home-inner {
    padding-bottom: 0;
  }

  p {
    line-height: 2;

    @include media-breakpoint-up(lg) {
      @include padding-x(3.5rem);
    }
  }

  .phone {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}
