.contact {
  @include media-breakpoint-up(md) {
    @include padding-x(2rem);
  }

  @include media-breakpoint-up(lg) {
    @include padding-x(5.5rem);
  }

  form {
    max-width: 37.5rem;
    margin: 0 auto;
  }
}

.map {
  color: inherit;
}
