.hero--home {
  background-image: url('../img/bread-sm.jpg');
  background-position: right;

  .card {
    background-color: rgba($tertiary, 0.9);

    p {
      @include media-breakpoint-up(xl) {
        text-align: center;
      }
    }
  }
}


.about {
  background-color: $secondary;

  p {
    max-width: 61.25rem;
    line-height: 2.5;
    margin: 0 auto;
  }
}


.support {
  background-color: $white;
  @include padding-y(5rem);

  img {
    width: auto;
    max-height: 8rem;

    &:not(:last-of-type) {
      margin-bottom: 2rem;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      max-height: 11rem;
    }

    &:nth-child(2) {
      @include margin-x(6rem);
    }
  }
}
