.hero--home {
  background-image: url('../img/bread-sm.jpg');
  background-position: right;
  background-repeat: no-repeat;

  @include media-breakpoint-up(md) {
    background-image: url('../img/bread.jpg');
    background-position: center;

    @include media-breakpoint-up(lg) {
      background-attachment: fixed;
    }
  }

  .card {
    background-color: rgba($tertiary, 0.9);

    p {
      @include media-breakpoint-up(xl) {
        text-align: center;
      }
    }
  }
}

.home-inner {
  padding-top: 8rem;

  @include media-breakpoint-up(md) {
    padding-top: 8.75rem;
    padding-bottom: 9rem;
  }

  img {
    max-width: 30rem;
  }

  .subtitle {
    max-width: 330px;
    margin: 2rem auto;
    text-align: center;
    color: $white;
    display: block;

    @include media-breakpoint-up(md) {
      max-width: 100%;
    }

    @include media-breakpoint-up(xl) {
      @include margin-y(3rem);
    }
  }
}


.about {
  background-color: $primary;

  p {
    max-width: 61.25rem;
    line-height: 2.5;
    margin: 0 auto;
  }
}


.support {
  background-color: $white;
  @include padding-y(5rem);

  img {
    width: auto;
    max-height: 8rem;

    &:not(:last-of-type) {
      margin-bottom: 2rem;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      max-height: 11rem;
    }

    &:nth-child(2) {
      @include margin-x(6rem);
    }
  }
}
